/*公共部分*/
.clearfix{
    zoom: 1;
}
.clearfix:after{
    content: "\200B";
    display:block;
    visibility:hidden;
    height:0;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

a:hover,a:active,a:link,a:visited{
    text-decoration:none;
}

/*网页部分*/
.container{
    width: 80%;
    margin: auto;
}

body,html{
    height:100%;
    min-height:100%;
}

body{
    background: -webkit-linear-gradient(top,#5A6359,#4B524F,#212C24) no-repeat;
    background: -moz-linear-gradient(top,#5A6359,#4B524F,#212C24) no-repeat;
    background: -ms-linear-gradient(top,#5A6359,#4B524F,#212C24) no-repeat;
    background: -o-linear-gradient(top,#5A6359,#4B524F,#212C24) no-repeat;
    background: linear-gradient(top,#5A6359,#4B524F,#212C24) no-repeat;
}

.nav {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 5;
    background: rgba(11,51,63,.3);
}

.nav li{
    float: left;
}

.nav li a{
    display: block;
    margin: 12px 0px 0 10px;
    font-size: 18px;
    font-weight: 500;
    padding:5px 7px ;
    float: left;
    color: #fff;
    border-radius: 3px;
    -webkit-transition:all 0.3s ease-out;
    -ms-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
}

.nav li a:hover{
    padding:5px 7px;
    color: #002E38;
    background: #fff;
}

.home {
    background: url("../image/top_bg.png") no-repeat top left;
    background-attachment:fixed;
    background-size:cover;
    min-height: 750px;
    height: 100%;
    overflow: hidden;
    box-sizing: content-box;
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: 1px 5px 10px rgba(0,0,0,.8);
    -webkit-box-shadow:1px 5px 10px rgba(0,0,0,.8);
    -ms-box-shadow:1px 5px 10px rgba(0,0,0,.8);
    -moz-box-shadow:1px 5px 10px rgba(0,0,0,.8);
    -o-box-shadow:1px 5px 10px rgba(0,0,0,.8);
    -webkit-animation: moveBackground 5s infinite linear alternate;
    -moz-animation: moveBackground 5s infinite linear alternate;
    -ms-animation: moveBackground 5s infinite linear alternate;
    -o-animation: moveBackground 5s infinite linear alternate;
    animation: moveBackground 5s infinite linear alternate;
}

.home .homecontent{
    position: absolute;
    width: 100%;
    top:10%;
}

.home header{
    display: inline-block;
    -ms-perspective:500px;
    -webkit-perspective:500px;
    -moz-perspective:500px;
    -o-perspective:500px;
    perspective:500px;
}

.home h1 {
    font-weight: 800;
    letter-spacing: 6px;
    font-size: 60px;
    color: #fff;
    margin-top: 105px;
    padding: 60px 15px;
    border:1px solid transparent;
    border-bottom: 1px solid rgba(255,255,255,.5);

}

.home header:hover h1,
.home:target header h1{
    border:solid 1px;
    -webkit-animation: shake 3s 1 ease;
    -moz-animation: shake 3s 1 ease;
    -ms-animation: shake 3s 1 ease;
    -o-animation: shake 3s 1 ease;
    animation: shake1 3s 1 ease;
}

.home p{
    color: rgba(255,255,255,0.75);
    margin-top:2px;
    padding: 10% 0 30% 0;
    border-top: 1px solid rgba(255,255,255,.5);
    text-shadow: 1px 1px 1px #6B785A;

}

.home footer a{
    font-size: 25px;
    word-spacing: 15px;
    padding: 30px 90px;
    display:inline-block;
    background: #fff;
    text-align: left;
    color:#3a3939;
    border-radius: 40px;
    -webkit-transition:all 0.3s ease-out;
    -ms-transition:all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    -o-transition:all 0.3s ease-out;
    transition:all 0.3s ease-out;
    border: 2px solid #fff;
}

.home footer a:hover{
    background: rgba(255,255,255,0.3);
    border: 2px solid rgba(255,255,255,0.8);
}

.home footer{
    width: 100%;
}

.home footer:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    height: 50%;
    border-left:1px solid #fff;
}

.say section{
    transition: all 1s linear;
    opacity: 0.2;
    -webkit-transform : translate(12px);
    transform:translate(12px);
    overflow: hidden;
}

.say:target section,.say:hover section{
    -webkit-transform : translate(0px);
    transform:translate(0px);
    opacity: 1;
}

.say {
    position: relative;
    background: rgba(255,194,0,1);
    box-shadow:0 5px 16px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 5px 16px rgba(0,0,0,0.5);
    min-height:280px;
    line-height:30px;
    font-size:16px;
    font-weight:600;
    padding:1px 1%;
    overflow: hidden;
}

.sayWrap {
    padding-top:1px;
}

.say h2{
    margin-top:40px;
    text-align: center;
    font-size:50px;
    font-weight:600;
    margin:50px;
    color: #fff;
}

.say p{
    text-align: center;
    color: #fff;
}

.banner {
    background: url("../image/banner.png") no-repeat top center;
    background-size:cover;
    height: 650px;
    text-align: center;
    position: relative;
    box-shadow: 1px 5px 10px rgba(0,0,0,.8) ;
}

.banner:hover footer .tentacles,.banner:hover footer .octopus,
.banner:target footer .tentacles,.banner:target footer .octopus{
    -webkit-animation:grow 10s 1 linear;
    animation:grow 5s 1 linear;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.banner header{
    width: 55%;
    color: #fff;
    position: absolute;
    left:10px;
    z-index: 1;
    /*background: url("../image/octopus.png") no-repeat left center;*/
    /*padding-top: 49px;*/
    /*margin-top: -45px;*/
}

.banner h1{
    font-weight: bold;
    font-size: 85px;
    padding-top: 200px;
    margin-bottom: 45px;
}

.banner p {
    font-size: 20px;
    line-height: 25px;
}

.banner footer{
    position: absolute;
    width: 100%;
    left:0;
    top:0;
}

footer .tentacles{
    position: absolute;
    top:-27px;
    left:46%;
    width: 473px;
    height:590px;
    background: url("../image/tentacles.png") no-repeat top left;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;

    -moz-transform:scale(0.0);
    -ms-transform:scale(0.0);
    -o-transform:scale(0.0);
    -webkit-transform:scale(0.0);
    transform:scale(0.0);




}

footer .octopus{
    width: 355px;
    height: 426px;
    background: url("../image/octopus.png") no-repeat left top;
    margin-top: -42px;
    -moz-transform:scale(0.0);
    -ms-transform:scale(0.0);
    -o-transform:scale(0.0);
    -webkit-transform:scale(0.0);
    transform:scale(0.0);

    -webkit-transform-origin: center 41px;
    -ms-transform-origin: center 41px;
    -moz-transform-origin: center 41px;
    -o-transform-origin: center 41px;
    transform-origin: center 41px;
}

.aboutme {
    width: 100%;
    height: 300px;
}
.aboutme .aboutme_wrap{
    width: 100%;
    height: 100%;
    perspective:1000px;
}
.aboutme h2,.aboutme_text{
    background: -webkit-linear-gradient(to right,#FEF200 0%,rgba(255,194,0,1) 100%);
    background: -moz-linear-gradient(to right,#FEF200 0%,rgba(255,194,0,1) 100%);
    background: -ms-linear-gradient(to right,#FEF200 0%,rgba(255,194,0,1) 100%);
    background: -o-linear-gradient(to right,#FEF200 0%,rgba(255,194,0,1) 100%);
    background: linear-gradient(to right,#FEF200 0%,rgba(255,194,0,1) 100%);
    color: #312A1E;
    height: 100%;
}

.aboutme h2{
    position: relative;
    width: 40%;
    transform-style: preserve-3d;
}

.aboutme:hover h2 .aboutme_img_front,
.aboutme:target h2 .aboutme_img_front{
    -o-animation: translateAn 1s ease;
    -moz-animation: translateAn 1s ease;
    -ms-animation: translateAn 1s ease;
    -webkit-animation: translateAn 1s ease;
    animation: translateAn 1s ease;
;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.aboutme .aboutme_img_front,.aboutme .aboutme_img_back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;

}


.aboutme .aboutme_img_front{
    display: block;
    z-index: 2;
    background: url("../image/huangren2.jpg") no-repeat center center;
    background-size: cover;

}

.aboutme .aboutme_img_back{
    display: block;
    background: url("../image/huangren1.gif") no-repeat center center;

}

.aboutme_text {;
    width: 60%;
}

.aboutme .aboutme_text h3,.aboutme .aboutme_text p{
    margin: 45px;
}

.aboutme .aboutme_text h3{
    font-size: 35px;
}

.aboutme .aboutme_text p{
    line-height: 25px;
}

.news {
    padding:51px 0 175px 0;
    background: #F0F0F0;
}

.news:target li .news_detail_message
{
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -ms-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    transform: rotateY(360deg);
}

.news h2 {
    line-height: 1.5;
    text-align: center;
}

.news i{
    margin:auto;
}

.news .news_list{
    width: 100%;
}

.new_icon {
    display: block;
    width: 88px;
    height: 96px;
    background: url("../image/news_2.png") no-repeat top left;

}

.news .news_list li{
    width: 23%;
    margin-right: 2%;
    margin-top:25px;
    float: left;
    box-shadow: 1px 5px 15px #000;

}

.news .news_list li:hover .news_detail_message{
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform: rotateY(180deg);
}



.news .news_list li:last-child{
    margin-right: 0;
}

.news_detail {
    background: rgba(255,255,255,0.7);
    perspective: 1000px;
    height: 170px;
}

.news_detail_message {
    width:100%;
    height: 85%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition:all 1s ease;
    -o-transition:transform 1s ease;
    -ms-transition:transform 1s ease;
    -moz-transition:transform 1s ease;
    transition:all 1s ease;

}

.news_detail_message .front, .news_detail_message .back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    backface-visibility: hidden;
    background-color: #ffffff;
}

.news_detail_message .back {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform: rotateY(180deg);
}

.news_detail h3{
    margin-bottom: 15px;
    width: 100%;
    height: 240px;
    display: block;
    background: url("../image/poster/frozen.png") no-repeat center center;
    background-size: cover;
    max-width: 100%;
}

.news .time{
    height:15%;
}

.news .post-date{
    color:#A5A5A2;
    float: right;
    font-size: 14px;
    margin-right: 25px;
}

.news_detail_text h4 {
    font-weight: 600;
    font-size: 14px;
    color: #312A1E;
    padding: 15px;
    margin-bottom: 15px;
}

.news_detail_text p {
    padding:0 15px;
    font-size: 12px;
    line-height: 1.5;
}

.end{
    background: #312A1E;
    padding:45px 25px 65px 25px ;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    position: relative;
}

.end h1 {
    margin:10px 0 30px 0;
    position: absolute;
    top:-70px;
    left:5%;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
    text-align: center;
}

.end h1 i {
    margin: auto;
}

.me_icon {
    display: block;
    width: 151px;
    height: 95px;
    background: url("../image/hat.png") no-repeat top left;

}

.page_footer{
    padding:30px;
    text-align: center;
}